/*PÁGINA DE CADASTRO*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Texto inicial com a logo PROVIST*/
#logo {
    color: white;
    padding-top: 50px;
    font-size: 3rem;
}

/*Corpo da página*/
body {
    background-color: #01080e;
    background-attachment: fixed
}

/*Parte como um todo*/
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

/*Parte com o conteúdo*/
.card {
    background-color: #ffffffaf;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #badbef29;
    width: 400px;
    margin-bottom: 20px;
}

/*Inicío com a palavra "Cadastro"*/
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b031e
}

/*Estilizando os inputs*/
.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #2080e7;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    padding-top: 25px;

}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*Efeito*/
.label-float input:focus {
    border-bottom: 2px solid #4038a0;
}

.label-float label {
    color: #0b0118;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:placeholder-shown+label {
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

/*Botão de cadastro*/
button {
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: #272262;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

/*Olho que permite ver a senha digitada*/
.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #ffffff;
}

/*Mensagem caso dê erro*/
#msgError {
    text-align: center;
    color: #ffffff;
    background-color: #780909;
    padding: 10px;
    border-radius: 8px;
    display: none;
}

/*Mensagem de sucesso*/
#msgSuccess {
    text-align: center;
    color: #ffffff;
    background-color: #0b4c15;
    padding: 10px;
    border-radius: 8px;
    display: none;
}

img {
    width: 25%;
    padding: 10px;
    margin-left: 550px;
}

/*Responsivo*/
@media screen and (max-width: 766px) {

    body {
        overflow: hidden;
    }

    #logo {
        font-size: 2rem;
    }

    .card {
        background-color: #ffffffaf;
        padding: 20px;
        border-radius: 4%;
        box-shadow: 3px 3px 1px 0px #badbef29;
        width: 300px;
        align-items: center;
        padding-bottom: 20px;
    }

    img {
        margin: 0 auto;
        width: 80%;
        padding-left: 30px;
    }
}