/*PÁGINA PRINCIPAL DO SITE SEM LOGIN - INDEX*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

/*Corpo padrão da página*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*Navegação*/
header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #01080e;
    align-items: center;
    height: 110px;
}

/*Parte da nossa logo Provist*/
#logo {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

#logo p {
    color: white;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
}

/*Divisão das categorias ao clicar em projetos*/
.nav ul li {
    position: relative;
}

#exibir-categorias {
    padding: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    display: none;
    position: absolute;
    width: 250px;
    left: 0;
    background-color: #01080e;
    font-weight: 200;
}

.linkCat a {
    color: rgba(255, 255, 255, 0.807);
    text-decoration: none;
    align-items: center;
    margin-right: 20px;

}

/*Hover para as sublistas*/

.linkCat a:hover {
    color:#a0a4a8;
    font-style: italic;
}

/*ícone ao lado de projetos >*/
#icon-proj {
    color: #ffffff; 
    cursor: pointer;
}

/*Continuação da nav*/
#ul {
    display: flex;
    align-items: center;
}

.li {
    list-style: none;
    padding: 10px;
    margin-right: 50px;
}

.link {
    color: white;
    text-decoration: none;
    transition: all .3s;
}

/*Ao passar o mouse: */
.link-proj:hover .link, .link:hover, .link-proj:hover #icon-proj {
    color: rgb(43, 174, 226);
}


/*Botão de Login e Cadastro*/

.li #button button{
    padding: 10px;
    background-color: rgb(43, 174, 226);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    transition: .3s;
}

.li #button button:hover {
    background-color: white;
    color: rgb(43, 174, 226);
    cursor: pointer;
}

/*Estrutura principal do Site*/
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.principal p {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 200;
    text-align: justify;
}

/*Texto com informações do pedido referido*/
.info-pedido {
    padding: 100px;
    text-align: justify;
    margin-right: 150px;
}

.info-pedido span {
    font-weight: 300;
    color:#06253f;
}

/*Parte de contatos*/
.telefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #a0a4a8;
    padding-top: 20px;
}

.telefone p, .email p {
    padding: 10px;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #a0a4a8;
}

/*Lugar onde ficarão os anexos de arquivos*/
.arquivos-pedido fieldset {
    background-color: rgb(206, 206, 208);
    border: none;
    border-radius: 10px;
    padding: 120px;
    text-align: center;
}

/*Começando o Site responsivo*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*Deixando o Site responsivo*/
@media screen and (max-width: 766px) {

    nav {
        justify-content: space-between;
    }

    #logo p {
        font-size: 1.2rem;
    }

    .li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: 50px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        background-color: #01080e;
        width: 100%;
        padding-left: 50px;
    }

    .mobile-menu #ul .li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    .principal {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
    }
    
    .info-pedido {
        padding: 15px;
        text-align: justify;
        margin-right: 10px;
    }

    main {
        padding-right: 130px;
        padding-bottom: 10px;
    }
    
    /*Lugar onde ficarão os anexos de arquivos*/
    .arquivos-pedido fieldset {
        padding: 100px;
    }
}