/*ESTILIZAÇÃO DA PARTE JÁ LOGADO - PERFIL - INDEX2*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

/*Corpo padrão da página*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*Navegação*/
header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #01080e;
    align-items: center;
    height: 110px;
}

/*Parte da nossa logo Provist*/
#logo {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

#logo p {
    color: white;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
}

#logo img {
    height: 28px;
    margin-bottom: 20px;
}

/*Divisão das categorias ao clicar em projetos*/
.nav ul li {
    position: relative;
}

#exibir-categorias {
    padding: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    display: none;
    position: absolute;
    width: 250px;
    left: 0;
    background-color: #01080e;
    font-weight: 200;
}

.linkCat a {
    color: rgba(255, 255, 255, 0.807);
    text-decoration: none;
    align-items: center;
    margin-right: 20px;

}

/*Exibir opções do perfil*/
#exibir-opcoes {
    list-style: none;
    display: none;
    position: absolute;
    width: 250px;
    left: 0;
    background-color: #01080e;
    font-weight: 200;
    margin-top: 15px;
}

.linkOp a {
    color: rgba(255, 255, 255, 0.807);
    text-decoration: none;
    align-items: center;
    margin-right: 20px;

}

/*Hover para as sublistas*/
.linkCat a:hover, .linkOp a:hover {
    color:#a0a4a8;
    font-style: italic;
}

/*ícone ao lado de projetos*/
#icon-proj {
    color: #ffffff; 
    cursor: pointer;
}

/*Continuação da nav*/
#ul {
    display: flex;
    align-items: center;
}

.li {
    list-style: none;
    padding: 10px;
    margin-right: 50px;
}

.link {
    color: white;
    text-decoration: none;
    transition: all .3s;
}

/*Ao passar o mouse: */
.link-proj:hover .link, .link:hover, .link-proj:hover #icon-proj {
    color: rgb(43, 174, 226);
}

.link-perfil:hover .link, .link:hover, .link-perfil:hover #icon-perfil {
    color: rgb(43, 174, 226);
}

/*Estrutura principal do Site*/
main {
    padding-top: 50px;
    background-color: #01080e;
    color: white;
}

/*Início/Home*/
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 80px;
}

.text-home h1 {
    font-family: 'Martian Mono', monospace;
    font-weight: 600;
    font-size: 3.2rem;
}

/*Projetos - Categorias*/
.projects h2 {
    margin-top: 100px;
}

/*Carrossel imagens tutorial*/
 
.tutorial h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.carousel-inner img {
    box-shadow: 0 1px 2px #0003;
    max-width: 60%;
    height: auto;
    margin: 0 auto;
}

/*Parte dos projetos e categorias*/
.grid-container-projects {
    display: grid;
    padding: 30px;
    grid-template-rows: auto 1fr; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

.grid-container-projects h6 {
    font-size: 1rem;
    font-weight: 400;
    padding: 7px;
}

.grid-container-projects p {
    font-size: 1rem;
    font-weight: 300;
    padding: 7px;
}

/*Cada categoria diferente*/
.grid-item-p {
    border: 1px solid #1198c9;
    padding: 40px;
    text-align: center;
}

.grid-container-projects a {
    text-decoration: none;
    color: white;
}

/*Parte das solicitações/serviços pedidos*/
#demanda {
    padding-top: 50px;
}

.grid-container-request {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 30px;
    gap: 10px;
}

.grid-container-request h6 {
    font-size: 1rem;
    font-weight: 400;
    padding: 7px;
}

.grid-container-request p {
    font-size: 1rem;
    font-weight: 300;
    padding: 7px;
}

/*Cada solicitação*/
.grid-item-r {
    border: 1px solid #ccc;
    padding: 40px;
    text-align: center;
    background-color: #1b1b1d;
}

.grid-item-r a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/*Parte do saiba mais*/
#saiba {
    padding-top: 50px;
}

#p-saiba {
    padding: 50px; 
    text-align: center; 
    padding-left: 100px; 
    padding-right: 100px;
}

.grid-container-alunos {
    display: grid;
    padding: 30px;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

.grid-container-alunos h6 {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    color: rgb(41 215 245);
}

.grid-container-alunos p {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 15px;
    padding-bottom: 70px;
    text-align: justify;
}

/*Cada participante diferente*/

.grid-item-alunos {
    border: 1px solid #1198c9;
    padding: 7px;
    text-align: center;
    background-color: rgb(2 16 23);
    border: 2px solid rgb(1 36 60);
    padding-bottom: 30px;
    box-shadow: 14px 13px 18px -3px rgba(136, 165, 175, 0.1);
}

.grid-container-alunos img {
    height: 150px;
    padding-bottom: 20px;
    width: auto;
}

.grid-container-alunos a {
    text-decoration: none;
    color: rgb(31, 176, 202);
    text-decoration: underline;
    text-align: end;
}

/*Footer*/
footer {
    padding-top: 70px;
    background-color: #01080e;
    color: rgb(202, 201, 201);
    text-align: center;
    font-weight: 300;
}

#logo-footer {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

footer img {
    width: 10%;
    height: auto;
}

/*Começando o Site responsivo*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.opcoes-menu {
    display: none;
}

.opcoes-menu:hover {
    display: block;
}

/*Deixando o Site responsivo*/
@media screen and (max-width: 766px) {

    nav {
        justify-content: space-between;
    }

    #logo p {
        font-size: 1.2rem;
    }

    .li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: 50px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #01080e;
        width: 100%;
        padding-left: 50px;
    }

    .mobile-menu #ul .li {
        display: block;
        padding-top: 1.2rem;
    }

    .home {
        margin-top: 80px;
        padding: 8px;
        text-align: center;
        flex-direction: column;
    }

    .img-home img {
        width: 100%;
    }

    .grid-container-projects {
        display: grid;
        padding: 30px;
        grid-template-rows: auto; 
        grid-template-columns: 1fr; 
        gap: 10px; 
    }

    .grid-item-p {
        padding: 30px;
    }

    .grid-container-alunos {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 40px; 
    }

    .grid-item-r {
        padding: 20px;
    }

    .saibamais #p-saiba {
        text-align: justify;
        font-size: 0.9rem;
        width: 100%;
        padding: 20px;
    }

    .open {
        display: block;
    }

    .carousel-inner img {
        box-shadow: 0 1px 2px #0003;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    footer img {
        width: 30%;
    }

    #logo img {
        height: 28px;
        margin-top: 20px;
    }
}





