/*Estilização das páginas de perfil, postagem de projetos e responsividade*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

/*Estilizar postar projeto geral*/

body {
    font-family: 'Kanit', sans-serif;
}

.upload {
    padding-top: 50px;
    text-align: center;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 1.2rem;
    padding-right: 480px;
}

/*Estilização do botão de selecionar um arquivo*/
#arquivo input {
    padding: 5px;
    border-radius: 8px;
}

/*Parte do nome do projeto*/
#labelTitulo, #titulo {
    padding: 5px;
    margin-top: 7px;
    width: 40%;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    margin-right: 53px;
}

/*Parte da descrição/resumo do projeto*/

.descricao-proj {
    padding-left: 35px;
}

#descricao {
    border-radius: 8px;
    margin-top: 7px;
    padding: 5px;   
    font-style: italic;
    color:#b7b5b5;
    margin-bottom: 15px;
    resize: none;
    margin-right: 85px;
    width: 41%;
}

/*Seleção das categorias*/
.area-abragente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-abragente p {
    padding-left: 60px;
}

.area-abragente select {
    padding: 5px;
    margin-right: 53px;
    border-radius: 5px;
    width: 41%;
}
  
label {
    display: block;
    margin-bottom: 5px;
}

/*Parte de contatos*/
.contatos-proj {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
}

.contatos-proj input {
    width: 14%;
    margin-right: 48px;
    border-radius: 8px;
}

.cont {
    padding-right: 12px;
}

.outros-contatos {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.outros-contatos input {
    width: 27%;
    border-radius: 8px;
    padding: 6px;
}

/*Parte com instruções do modelo de projeto*/
#dica-arc {
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 0.8rem;
    font-style: italic;
    padding-left: 450px;
}

/*Parte de baixar e postar o arquivo*/
.upload a, .demanda a{
    text-decoration: none;
    color: rgb(3, 1, 22);
    background-color: rgb(231, 229, 234);
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 150px;
    transition: .3s;
}

.upload a:hover, .demanda a:hover{
    background-color: rgb(3, 1, 22);
    color: rgb(231, 229, 234);
}

.postar-arquivo, .postar-arquivoD {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#arquivo {
    padding-right: 40px;
}

/*Botão de postagem*/
.fazer-upload button {
    padding: 12px;
    font-size: 1rem;
    width: 40%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-right: 50px;
    transition: .3s;
}

.fazer-upload button:hover {
    color: white;
    background-color: #0e0333;
    border: 1px solid rgb(68, 67, 67);
}

.meus-arquivos {
    padding-bottom: 30px;
}

/*Parte de editar ou excluir o projeto já postado*/
.editar-lixo, .historicoD {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4d4c52;
    border-radius: 8px;
    color: white;
    margin: 0 auto;
    padding: 10px;
    width: 40%;
}
.editar-lixo p, .historicoD p {
    padding-right: 0;
    margin: 0;
}

.historicoD i {
    margin-left: 10px;
}

.botao-sair {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

/*Botão de sair da conta*/
.botao-sair a {
    text-decoration: none;
    background-color: #0e0333;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.4rem;
    transition: .3s;
}
.botao-sair a:hover {
    background-color: rgb(231, 229, 234);
    color: #0e0333;
}

/*Parte de realizar um pedido/demanda*/

.demanda p {
    padding-left: 430px;
}

.input-demanda {
    margin-left: 430px;
}

#labelTitulo, #tituloD {
    padding: 5px;
    margin-top: 7px;
    width: 40%;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    margin-right: 53px;
}

#descricaoD {
    border-radius: 8px;
    margin-top: 7px;
    padding: 5px;   
    font-style: italic;
    color:#b7b5b5;
    margin-bottom: 15px;
    resize: none;
    margin-right: 85px;
    width: 41%;
}

.contatos-demanda {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
}

.contatos-demanda input {
    width: 14%;
    margin-right: 48px;
    border-radius: 8px;
}

.fazer-upload-demanda button {
    padding: 12px;
    font-size: 1rem;
    width: 40%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 437px;
    transition: .3s;
}

.fazer-upload-demanda button:hover {
    color: white;
    background-color: #0e0333;
    border: 1px solid rgb(68, 67, 67);
}
 
/*
/*Estilização do botão de selecionar um arquivo
#arquivo2 input {
    padding: 5px;
    border-radius: 8px;
}

/*Parte do nome do projeto
#labelTitulo2, #titulo2 {
    padding: 5px;
    margin-top: 7px;
    width: 40%;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
}

/*Parte da descrição/resumo do projeto
#descricao2 {
    border-radius: 8px;
    margin-top: 7px;
    padding: 5px;   
    font-style: italic;
    color:#b7b5b5;
    margin-bottom: 15px;
    resize: none;
}

/*Parte de contatos
.contatos-proj2 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.contatos-proj2 input {
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 8px;
}

/*Parte de postar o arquivo
.upload2 a{
    text-decoration: none;
    color: rgb(3, 1, 22);
    background-color: rgb(231, 229, 234);
    padding: 3px;
    border-radius: 8px;
}
.postar-arquivo2 {
    padding-top: 15px;
}

/*Botão de postagem
.fazer-upload2 button {
    padding: 8px;
    width: 50%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 155px;
}

.fazer-upload2 button:hover {
    color: white;
    background-color: #0e0333;
}
*/

/*Responsividade*/
@media screen and (max-width: 766px) {

    body {
        color: rgb(3, 1, 22);
        overflow-x: hidden;
    }

    .upload h1, .demanda h1 {
        text-align: center;
        margin: 0 auto;
    }

    .demanda h1 {
        padding-top: 20px;
    }

    p {
        text-align: center;
        padding-right: 100px;
    }

    #labelTitulo, #titulo {
        padding: 5px;
        margin-top: 2px;
        width: 70%;
        border-radius: 8px;
        margin-bottom: 8px;
        margin-right: 30px;
        font-size: 1rem;
    }

    .descricao-proj {
        margin-right: 100px;
        padding-left: 30px;
    }

    #descricao {
        border-radius: 8px;
        margin-top: 2px;
        padding: 5px;   
        font-style: italic;
        color:#b7b5b5;
        margin-bottom: 15px;
        resize: none;
        width: 100%;
        padding-bottom: 50px;
        margin-right: 30px;
    }

    .area-abragente p {
        display: flex;
        flex-direction: row;
        margin-right: 50px;
        padding: 22px;
    }

    .area-abragente #categoria {
        margin-top: 1px;
        margin-right: 150px;
    }

    .cont {
        margin-right: 210px;
    }

    .contatos-proj {
        flex-direction: column;
        margin-top: 5px;
    }
    .contatos-proj input {
        width: 60%;
        padding: 5px;
        justify-content: center;
        margin-left: 25px;
    }

    .outros-contatos {
        flex-direction: column;
        align-items: start;
        margin-left: 30px;
        gap: 10px; /* Ajuste o espaçamento entre os elementos */
    }

    .outros-contatos label {
        margin-right: 0; /* Remova a margem direita do label */
    }

    .outros-contatos input {
        width: 60%; /* Largura total */
        padding: 5px;
        margin: 5px 0; /* Ajuste o espaçamento vertical conforme necessário */
    }

    #dica-arc {
        margin-top: 1px;
        margin-right: 10px;
        padding-left: 30px;
        width: 85%;
        text-align: justify;
    }
    
    #labelTitulo, #tituloD, #descricaoD{
        width: 70%;
        margin: 0;
        margin-left: 20px;
    }

    .demanda p{
        padding-left: 20px;
        text-align: left; /* Alinhe o texto à esquerda */
        margin-right: 0; /* Remova a margem direita */
    }

    .contatos-demanda {
        flex-direction: column;
    }
    
    .contatos-demanda input {
        width: 70%;
        margin: 0;
        margin-left: 20px;
        padding: 5px;
    }

    #eD {
        padding-left: 27px;  
    }

    .fazer-upload-demanda button {
        width: 70%;
        margin: 20px auto 0;
    }

    .postar-arquivo {
        display: flex;
        flex-direction: column;
        margin-left: 70px;
    }

    .postar-arquivo a {
        padding: 5px;
        width: 70%;
    }

    .postar-arquivoD {
        margin-left: 20px;
    }

    #arquivo {
        margin-right: 30px;
        margin-top: 10px;
    }

    .fazer-upload button {
        background-color: #0e0333;
        color: white;
        padding: 8px;
        width: 50%;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin-top: 40px;
        margin-left: 70px;
    }
    
    .fazer-upload-demanda button{
        background-color: #0e0333;
        color: white;
        margin-top: 40px;
        margin-left: 90px;
        padding: 8px;
        width: 50%;
    }

    .historicoD {
        align-items: center;
        padding: 8px;
        width: 80%;
        margin-left: 30px;
    }

    .meus-arquivos p {
        border-radius: 8px;
        color: white;
        margin: 10px;
        width: 70%;
    }

    .botao-sair {
        text-align: center;
    }

    .botao-sair a {
        display: inline-block;
        margin: 10px auto;
        width: 80%;
    }

}
