/*PÁGINA DE CADA PROJETO QUANDO SE ESTÁ LOGADO - INDIVIDUAL 2*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dela+Gothic+One&family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&family=Young+Serif&display=swap');
/*
font-family: 'Dela Gothic One', cursive;
font-family: 'DM Serif Display', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Labrada', serif;
font-family: 'Lato', sans-serif;
font-family: 'Martian Mono', monospace;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Young Serif', serif;
*/

/*Corpo padrão da página*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*Navegação*/
header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 110px;
    background-color: #01080e;
}

/*Parte da nossa logo Provist*/
#logo {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

#logo p {
    color: white;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
}

#logo img {
    height: 28px;
    margin-bottom: 20px;
}

/*Divisão das categorias ao clicar em projetos*/
.nav ul li {
    position: relative;
}

#exibir-categorias {
    padding: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    display: none;
    position: absolute;
    width: 250px;
    left: 0;
    background-color: #01080e;
    font-weight: 200;
}

.linkCat a {
    color: rgba(255, 255, 255, 0.807);
    text-decoration: none;
    align-items: center;
    margin-right: 20px;

}

/*Exibir opções do perfil*/
#exibir-opcoes {
    list-style: none;
    display: none;
    position: absolute;
    width: 250px;
    left: 0;
    background-color: #01080e;
    font-weight: 200;
    margin-top: 15px;
    padding-bottom: 10px;
}

.linkOp a {
    color: rgba(255, 255, 255, 0.807);
    text-decoration: none;
    align-items: center;
    margin-right: 20px;
    padding-left: 10px;
}

/*Hover para as sublistas*/
.linkCat a:hover,
.linkOp a:hover {
    color: #a0a4a8;
    font-style: italic;
}

/*ícone ao lado de projetos*/
#icon-proj {
    color: #ffffff;
    cursor: pointer;
}

/*Continuação da nav*/
#ul {
    display: flex;
    align-items: center;
}

.li {
    list-style: none;
    padding: 10px;
    margin-right: 50px;
}

.link {
    color: white;
    text-decoration: none;
    transition: all .3s;
}

/*Ao passar o mouse: */
.link-proj:hover .link,
.link:hover,
.link-proj:hover #icon-proj {
    color: rgb(43, 174, 226);
}


/*Botão de Login e Cadastro*/
.li #button button {
    padding: 10px;
    background-color: rgb(43, 174, 226);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
}

.li #button button:hover {
    background-color: white;
    color: rgb(43, 174, 226);
    cursor: pointer;
}

/*PARTE PRINCIPAL DO PROJETO*/
.main {
    background-color: #ffffff;
    padding: 250px;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.principal p {
    padding-top: 20px;
    font-weight: 200;
    text-align: justify;
}

.principal button {
    margin-top: 30px;
    margin-right: 10px;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}

.text-projeto {
    margin-right: 300px;
}

#madeby {
    font-style: italic;
    color: #a0a4a8;
}

/*Botões de investir e colaborar*/
#investe {
    background-color: rgb(6, 177, 6);
    color: white;
}

#investe:hover {
    background-color: green;
}

#colabore {
    background-color: rgb(174, 174, 25);
    color: white;
}

#colabore:hover {
    background-color: rgb(123, 123, 14);
}

/*Contatos*/
.telefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #a0a4a8;
    padding-top: 30px;
}

.telefone p,
.email p {
    padding: 10px;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #a0a4a8;
}

/* Estilos para os pop-ups */
.pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.pop-up-content {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*Parte de investimentos*/
#pop-up-investir h2 {
    color: rgb(174, 174, 25);
}


/*Parte de colaborações*/
#pop-up-colabore h2 {
    color: rgb(6, 177, 6);
    padding-bottom: 10px;
}

.comentarios {
    border: 1px solid gray;
    padding: 10px;
    margin-top: 20px;
}

.comentarios .nome-user {
    font-weight: bold;
    font-size: 0.9rem;
    padding: 2px;
}

.comentarios textarea {
    width: 100%;
    height: 79px;
    margin-top: 20px;
    padding: 5px;
    resize: none;
    font-size: 1rem;
    font-weight: 200;
}

.opcao-coment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.acoes-coment {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    gap: 10px;
}

.acoes-coment p {
    margin-bottom: 20px;
    cursor: pointer;
}

.comentarios button {
    background-color: rgb(6, 177, 6);
    color: white;
    align-items: end;
    padding: 8px;
    width: 10%;
    margin-left: 630px;
    transition: .3s;
}

.comentarios button:hover {
    background-color: rgb(3, 141, 3);
}

/*Botão para fechar*/

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para os botões de Investir e Colaborar */
#investe,
#colabore {
    cursor: pointer;
}

.entrar-contato {
    display: flex; /* Torna os elementos filhos flexíveis */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
}
  
.contatos {
    display: flex; /* Torna os contatos internos flexíveis */
    flex-direction: column;
}

.arquivos-projeto fieldset {
    background-color: rgb(206, 206, 208);
    border: none;
    border-radius: 10px;
    padding: 100px;
    text-align: center;
}

/*Começando o Site responsivo*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*Deixando o Site responsivo*/
@media screen and (max-width: 766px) {

    nav {
        justify-content: space-between;
    }

    #logo p {
        font-size: 1.2rem;
    }

    .li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: 50px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        background-color: #01080e;
        width: 100%;
        padding-left: 50px;
    }

    .mobile-menu #ul .li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    .main {
        padding: 50px;
    }

    .principal {
        padding-top: 100px;
        flex-direction: column;
    }

    .text-projeto {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    #pop-up-colabore {
        width: 100%;
    }

    #pop-up-colabore .pop-up-content {
        width: 92%;
        height: 93%;
        max-width: 92%; /* Defina a largura máxima desejada para o pop-up */
        max-height: 93%; /* Defina a altura máxima desejada para o pop-up */
        overflow: auto; /* Permite a rolagem quando o conteúdo excede as dimensões máximas */
    }

    #pop-up-colabore textarea {
        height: 50px;
    }

    .user-coment p {
        font-size: 0.9rem;
    }

    .comentarios button {
        margin-top: 2px;
        margin-left: 160px;
        width: 40%;
    }

    .entrar-contato {
        flex-direction: column;
      }
    


}