@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 70%;
    padding: 20px;
    background-color: #bebdc2;
    padding-bottom: 10px;
    margin-left: 230px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    position: absolute;
    top: 80px;
    right: 260px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(24, 19, 95);
    color: white;
    padding: 5px;
    border-radius: 30%;
    margin-right: 5px;
}


/*Estilização do botão de selecionar um arquivo*/
#arquivoInput {
    display: none;
}

/* Estilo para o rótulo personalizado */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
}

/* Estilize o rótulo para parecer um botão */
.custom-file-upload:hover {
    background-color: #f0f0f0;
}

.postar-arquivo {
    display: flex;
    flex-direction: row;
}

/*Dividindo o PopUp em duas colunas*/
.text-popup {
    display: flex; 
    align-items: stretch; /* Garante que ambas as colunas tenham a mesma altura */
    padding: 10px; 
}

.text-popup section {
    flex: 7; /* As seções preenchem o espaço disponível igualmente */
    padding: 20px; 
}

.text-popup section:nth-child(2) {
    flex: 3;
    padding: 10px;
}

.text-popup h1 {
    font-size: 1.6rem;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.text-popup .upload {
    border-right: 1px solid #0e0333; /* Adicione uma linha de separação vertical */
    text-align: start;
}

#labelTitulo, #titulo {
    padding: 5px;
    margin-top: 7px;
    width: 70%;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
}

#descricao {
    border-radius: 8px;
    margin-top: 7px;
    padding: 5px;   
    font-style: italic;
    color:#b7b5b5;
    margin-bottom: 15px;
    resize: none;
}

.area-abragente {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
}
  
label {
    display: block;
    margin-bottom: 5px;
}

#dica-arc {
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 0.8rem;
    font-style: italic;
}

.upload a{
    text-decoration: none;
    color: rgb(3, 1, 22);
    background-color: rgb(231, 229, 234);
    padding: 3px;
    border-radius: 8px;
}
.postar-arquivo {
    padding-top: 15px;
}

.fazer-upload button {
    padding: 8px;
    width: 50%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 155px;
}

.fazer-upload button:hover {
    color: white;
    background-color: #0e0333;
}

.meus-arquivos p {
    border-radius: 8px;
    background-color: #0e0333;
    color: white;
    margin: 10px;
    padding: 5px;
}

@media screen and (max-width: 766px) {
    .popup-content {
        margin-left: 35px;
        margin-top: 30px;
        width: 85%;
        padding: 5px;
    }

    .text-popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        color: white;
    }

    .text-popup h1 {
        padding-top: 1px;
        font-size: 1.1rem;
    }

    .close {
        top: 50px;
        right: 60px;
    }

    .fazer-upload button {
        margin-left: 95px;
    }


}

/*
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*Navegação*
header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #01080e;
    align-items: center;
    height: 110px;
}

/*Parte da nossa logo Provist*
#logo {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

#logo p {
    color: white;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
}

/*Divisão das categorias ao clicar em projetos*
.nav ul li {
    position: relative;
}

#exibir-categorias {
    padding: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    display: none;
    position: absolute;
    width: 250px;
    left: 0;
    background-color: #01080e;
    font-weight: 200;
}

.linkCat a {
    color: rgba(255, 255, 255, 0.807);
    text-decoration: none;
    align-items: center;
    margin-right: 20px;

}

/*Hover para as sublistas*

.linkCat a:hover,
.linkOp a:hover {
    color: #a0a4a8;
    font-style: italic;
}

/*ícone ao lado de projetos*
#icon-proj {
    color: #ffffff;
    cursor: pointer;
}

/*Continuação da nav*
#ul {
    display: flex;
    align-items: center;
}

.li {
    list-style: none;
    padding: 10px;
    margin-right: 50px;
}

.link {
    color: white;
    text-decoration: none;
}

/*Ao passar o mouse: *
.link-proj:hover .link,
.link:hover,
.link-proj:hover #icon-proj {
    color: rgb(43, 174, 226);
}

.link-perfil:hover .link,
.link:hover,
.link-perfil:hover #icon-perfil {
    color: rgb(43, 174, 226);
}

/*Estrutura principal do Site*
main {
    padding-top: 50px;
    background-color: #01080e;
    color: white;
}


.divisao {
    height: 100vh;
}

.column {
    padding-top: 100px;
    width: 33.33%;
    height: 100%;
    float: left;
    border-right: 2px solid #333; 
    box-sizing: border-box; 
    text-align: center;
    background-color: #d4d1d1; 
    color: black;
}

.column:last-child {
    border-right: none; 
}




/*Começando o Site responsivo*

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 766px) {

    nav {
        justify-content: space-between;
    }

    #logo p {
        font-size: 1.2rem;
    }

    .li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-right: 50px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #01080e;
        width: 100%;
        padding-left: 50px;
    }

    .mobile-menu #ul .li {
        display: block;
        padding-top: 1.2rem;
    }
}

*/