/*PÁGINA DE LOGIN - LOGIN*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/*Logo inicial*/
#logo {
    color: white;
    padding-top: 100px;
    font-size: 3rem;
}

/*Corpo da página*/
body {
  background-color: #01080e;
  background-attachment: fixed
  
}

/*Contém no geral*/
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

/*Parte com o conteúdo em si*/
.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  margin-bottom: 20px;
}

/*Início com a palavra "Login"*/
h1{
  text-align: center;
  margin-bottom: 20px;
  color: #272262
}

/*Estilizando os inputs*/
.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #272262;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Efeito*/
.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

.label-float label{
  color: #272262;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

/*Botão de login*/
button{
  background-color: transparent;
  border-color: #272262;
  color: #272262;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #272262;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

/*Se não tiver cadastro, cadastre-se*/
p{
  color: #272262;
  font-size: 14pt;
  text-align: center;
}

a{
  color: #50307a;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color: #272262;
}

/*Olho para poder ver a senha digitada*/
.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #272262;
}

/*Caso dê erro de login*/
 #msgError{
  text-align: center;
  color: #ffffff;
  background-color: #780909;
  padding: 10px;
  border-radius: 8px;
  display: none;
}

/*Responsivo*/
@media screen and (max-width: 766px) {

    #logo {
        font-size: 2rem;
    }

    .card {
        background-color: #ffffffaf;
        padding: 20px;
        border-radius: 4%;
        box-shadow: 3px 3px 1px 0px #badbef29;
        width: 300px;
        align-items: center;
        padding-bottom: 20px;
    }
}