/*POP UP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 40%;
    background-color: #aeaabb;
    padding: 200px;
    margin-left: 442px;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    position: absolute;
    top: 180px;
    right: 480px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(24, 19, 95);
    color: white;
    padding: 5px;
    border-radius: 30%;
    margin-right: 5px;
}

@media screen and (max-width: 766px) {
    .popup-content {
        margin-left: 40px;
        margin-top: 120px;
    }

    .text-popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        color: white;
    }

    .close {
        right: 80px;
    }


}