/*Estilização das páginas de perfil, postagem de projetos e responsividade*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

/*Parte do PopUp que aparece ao clicar em "postar projeto"*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 70%;
    padding: 20px;
    background-color: #bebdc2;
    padding-bottom: 10px;
    margin-left: 230px;
    margin-top: 90px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/*Botão de fechar o popup*/
.close {
    position: absolute;
    top: 100px;
    right: 245px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(24, 19, 95);
    color: white;
    padding: 5px;
    border-radius: 30%;
    margin-right: 5px;
}


/*Estilização do botão de selecionar um arquivo*/
#arquivo input {
    padding: 5px;
    border-radius: 8px;
}

/*Dividindo o PopUp em duas colunas*/
.text-popup {
    display: flex; 
    align-items: stretch; /* Garante que ambas as colunas tenham a mesma altura */
    padding: 10px; 
}

.text-popup section {
    flex: 7; /* As seções preenchem o espaço em 70% e 30% */
    padding: 20px; 
}

.text-popup section:nth-child(2) {
    flex: 3;
    padding: 10px;
}

/*Títulos do popup*/
.text-popup h1 {
    font-size: 1.6rem;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.text-popup .upload {
    border-right: 1px solid #0e0333; /* Adicione uma linha de separação vertical */
    text-align: start;
}

/*Parte do nome do projeto*/
#labelTitulo, #titulo {
    padding: 5px;
    margin-top: 7px;
    width: 70%;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
}

/*Parte da descrição/resumo do projeto*/
#descricao {
    border-radius: 8px;
    margin-top: 7px;
    padding: 5px;   
    font-style: italic;
    color:#b7b5b5;
    margin-bottom: 15px;
    resize: none;
}

/*Seleção das categorias*/
.area-abragente {
    display: flex;
    align-items: center;
}

.area-abragente select {
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
    width: 37%;
}
  
label {
    display: block;
    margin-bottom: 5px;
}

/*Parte de contatos*/
.contatos-proj {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.contatos-proj input {
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 8px;
}

/*Parte com instruções do modelo de projeto*/
#dica-arc {
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 0.8rem;
    font-style: italic;
}

/*Parte de postar o arquivo*/
.upload a{
    text-decoration: none;
    color: rgb(3, 1, 22);
    background-color: rgb(231, 229, 234);
    padding: 3px;
    border-radius: 8px;
}
.postar-arquivo {
    padding-top: 15px;
}

/*Botão de postagem*/
.fazer-upload button {
    padding: 8px;
    width: 50%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 155px;
}

.fazer-upload button:hover {
    color: white;
    background-color: #0e0333;
}

/*Parte de editar ou excluir o projeto já postado*/
.editar-lixo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0e0333;
    border-radius: 8px;
    color: white;
    margin: 10px;
    padding: 5px;
    margin-left: 10px;
    gap: 8px;
}
.editar-lixo p {
    padding-right: 130px;
}

/*Responsividade*/
@media screen and (max-width: 766px) {

    body {
        background-color: rgb(233, 232, 240);
        color: rgb(3, 1, 22);
    }

    h1 {
        text-align: center;
    }

    #labelTitulo, #titulo {
        padding: 5px;
        margin-top: 2px;
        width: 70%;
        border-radius: 8px;
        margin-bottom: 8px;
        font-size: 1rem;
    }

    #descricao {
        border-radius: 8px;
        margin-top: 2px;
        padding: 5px;   
        font-style: italic;
        color:#b7b5b5;
        margin-bottom: 15px;
        resize: none;
        width: 97%;
    }

    .contatos-proj {
        flex-direction: column;
    }
    .contatos-proj input {
        width: 60%;
        padding: 5px;
    }

    .fazer-upload button {
        background-color: #0e0333;
        color: white;
        padding: 8px;
        width: 50%;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin-top: 15px;
        margin-left: 90px;
    }

    .meus-arquivos p {
        border-radius: 8px;
        background-color: #0e0333;
        color: white;
        margin: 10px;
        width: 70%;
    }

}
